


@media only screen and (max-width: 480px) {
  .cardVioletContainer,
  div.containerSocial {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    gap: 35px;
    padding: 10px;
  }
  .container-grey{
    background-color: #f9fafb;
    padding: 5px;
  };

  div.containerSocial {
    transform: translateX(30px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .container-box{
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  .container-box-nosotros{
    border-radius: 30px;
    background-color: #f9fafb;
    // box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  .container-text-imgtree{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 10px;
  }


  //

  .container-box-metodologia{
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 350px;
    padding: 10px;
  }

  .container-metodologia{
    text-align: center;
    
  }

  .container-title-metodologia{
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 20px;
  }

  .container-metodologia-wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .style-tittle-card{
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
  }

  .styles-paragraph-card{
    font-size: 13px;
    margin-top: 25px;
  }

//
.title-center-home-mobile{
  text-align: center;
}

.container-wrap-info-violeta{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  color: #fff;
}

.container-elemento-violeta{
  position: relative;
}

.container-violet-box{
  border-radius: 30px;
  background-color: #7929e2;
  box-shadow: 5px 4px 18px 5px rgb(56 56 56 / 71%);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  padding: 10px;
  height: 200px;
}
.container-interior-green{
  border-radius: 30px;
  background-color: #afdb00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  width: 160px;
  height: 120px;
  position: absolute;
  top:-50px;
  left: 20%;
  color:black
}

.container-texto-violet{
  margin-top: 70px;
  font-size: 15px;
  margin-bottom: 15px;
}

.container-btn-arrow-green{
  background-color: #afdb00;
  border-radius: 15px;
  font-size: 16px;
  color: black;
  height: 60px;
  gap: 5px;
  justify-content: flex-end;
  font-weight: 600;
  &:hover{
    background-color: #fff;
    color: black;
  }
}

.container-paragrap{
  color: #fff;
  text-align: center;
}

.container-title-social{
  text-align: center;
}
.container-web{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

//
  .container-tu-marca{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }

  .container-btn-arrow {
    background-color: #7929e2;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    height: 60px;
    gap: 5px;
    justify-content: flex-end;
    font-weight: bold;
    &:hover{
      background-color: #afdb00;
      color: black;
    }
  }

  //
  .styles-text-title-social{
    color: #7929e2;
    font-size: 20px; 
  }
  //
  .container-empleados-felices{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    gap: 35px;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
  }

  .styles-simbol{
    font-size: 70px;
    color: #afdb00;
    font-weight: bold;
  }

 //Seccion imagen mujer
  .img-mujer-pc{
    height: 200px;
    width: 300px;
    border-radius: 5px;
  }


  
  .styles-text{
    color: #7929e2;
  }

  .style-upload-link{
    color: #f9f9f9;
  }

  .icon-upload {
    height: 30px;
    
  }
  .style-text-white{
    color: white;
    font-size: 30px;
  }

  .style-imagen-one{
    width: 100%;
  }

  .container-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-styles-description{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-top: 15px;
  }

  .container-elements-information{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .styles-line{
    border-right: 1px solid #7929e2;
  }

  .styles-text-title-social{
    color: #7929e2;
    font-size: 20px; 
  }

  .styles-green-text{
    color: #afdb00;
    font-size: 30px;
    font-weight: bold;
  }

    //Seccion aprende

  .container-violet{
    background-color: #7929e2;
    padding-right: 0;
  }

  .container-btn-arrow-white{
    background-color: white;
    border-radius: 15px;
    font-size: 15px;
    color: black;
    height: 60px;
    gap: 8px;
    justify-content: flex-end;
    &:hover{
      background-color: #afdb00;
      color: black;
    }
  }

  .style-upload-link-white{
    color: black;
    gap: 5px;
  }
  .container-wrap{
    text-align:center ;
  }

  .style-title-sidebar{
    font-size: 20px;
    font-weight: bold;
  }

  // Login
  .styles-text-login{
    color: #7929e2;
    font-size: 13px;
  } 
  .check-color {
    cursor: pointer;
    border: 2px solid #7929e2;
    appearance: none;
  }
  
  .check-color:checked {
    background-color: #7929e2;
    border-color: #7929e2;
  }
  .color-text-check {
    color: #7929e2;
  }

   //Estilos footer home

  .container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .styles-icon-logo{
    width: 110px;
    height: 50px;
  }
  .style-upload-link{
    font-size: 12px;
  }
  .container-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 20px;
      height: 20px;
    }
  }


  .home-img{
    display: flex;
    background-image: url("./../../imagenes/fondo-login.png");
    height: 300px;
    align-items: center;
    justify-content: center;
;
  }

  ///derechos
  .container-derechos{
    display: flex;
    color: #7929e2;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }


  .style-title-bold{
    font-weight: bold;
  }

}



// Tablet
@media only screen and  (min-width:481px) and (max-width:1000px){
  .cardVioletContainer,
div.containerSocial {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  gap: 35px;
  padding: 20px 10px;
}
div.containerSocial {
  padding: 137px 80px 30px;
}

  .container-grey{
    background-color: #f9fafb;
    padding: 5px;
  };

  .container-box{
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .container-text-imgtree{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .container-box-metodologia{
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 30px;
    text-align: center;
    width: 300px;
    height: 350px;
    padding: 10px;
  }

  .container-metodologia{
    text-align: center;

  }

  .container-title-metodologia{
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 20px;
  }

  .container-metodologia-wrap{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0px;
    width: 100%;
    justify-content: center;
  }

  .style-tittle-card{
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
  }

  .styles-paragraph-card{
    font-size: 13px;
    margin-top: 25px;
  }
  ////

  .container-wrap-info-violeta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
    padding: 10px;
    position: relative;
    color: #fff;
  }
  .container-violet-box{
    border-radius: 30px;
    background-color: #7929e2;
    box-shadow: 5px 4px 18px 5px rgb(56 56 56 / 71%);
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    padding: 8px;
    height: 210px;
  }
  .container-elemento-violeta{
    position: relative;
  }

  .container-interior-green{
    border-radius: 20px;
    background-color: #afdb00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    text-align: center;
    width: 130px;
    height: 90px;
    position: absolute;
    top:-30px;
    left: 14%;
    color: black;
  }

  .container-texto-violet{
    margin-top: 80px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .container-btn-arrow-green{
    background-color: #afdb00;
    border-radius: 15px;
    font-size: 16px;
    color: black;
    height: 60px;
    gap: 5px;
    justify-content: flex-end;
    font-weight: 600;
    &:hover{
      background-color: #fff;
      color: black;
    }
  }

  .style-upload-link-violet{
    color: black;
    font-size: 20px;
  }
  
  .container-paragrap{
    color: #fff;
    text-align: center;
  }
  .style-text-white{
    color: white;
    font-size: 30px;
  }

  .container-web{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  ///




  .container-tu-marca{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }

  .container-btn-arrow {
    background-color: #7929e2;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    height: 60px;
    gap: 5px;
    justify-content: flex-end;
    font-weight: bold;
    &:hover{
      background-color: #afdb00;
      color: black;
    }
  }

  .style-upload-link{
    color: #f9f9f9;
  }


  .styles-text-paragraph{
    font-size: 25px;
  }

  .styles-text-title-social{
    color: #7929e2;
    font-size: 25px; 
  }


  //
  .container-empleados-felices{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    gap: 35px;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
  }

  .styles-green-text{
    color: #afdb00;
    font-size: 30px;
    font-weight: bold;
  }

  .styles-simbol{
    font-size: 70px;
    color: #afdb00;
    font-weight: bold;
  }

 //Seccion imagen mujer
  .img-mujer-pc{
    height: 300px;
    width: 400px;
    border-radius: 5px;
  }

 
  

  .styles-text{
    color: #7929e2;
  }
  .style-upload-link{
    color: #f9f9f9;
  }
  .icon-upload {
    height: 30px;
  }
  .style-imagen-one{
    width: 100%;
  }


  
  // //Seccion aprende
  .container-violet{
    background-color: #7929e2;
    padding-right: 0;
  }


  .container-tu-marca{
    text-align: center;
    font-size: 30px;
  }

  //desempeño
  .container-wrap{
    text-align:center ;
  }


  .styles-text-login{
    color: #7929e2;
    font-size: 13px;
  } 

  .container-login{
    width: 100%;
    height: 480px;
  }

  .check-color {
    cursor: pointer;
    border: 2px solid #7929e2;
    appearance: none;
    width: 18px;
    height: 20px;
  }

  .color-text-check {
    color: #7929e2;
    font-size: 12px;
  }

   //Estilos footer home
  .container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .styles-icon-logo{
    width: 130px;
    height: 80px;
  }

  .style-upload-link{
    font-size: 12px;
  }

  .container-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 50px;
      height: 50px;
    }
  }


  .home-img{
    display: flex;
    background-image: url("./../../imagenes/fondo-login.png");
    height: 300px;
    align-items: center;
    justify-content: center;
  }

  ///dseccio derechos
  .container-derechos{
    display: flex;
    color: #7929e2;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }

  .style-title-bold{
    font-weight: bold;
  }
}




// WEB
@media only screen and (min-width: 1000px) {
  .cardVioletContainer,
  div.containerSocial {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    gap: 35px;
    padding: 20px 10px;
  }
  div.containerSocial {
    padding: 137px 80px 30px;
  }
  .container-grey{
    background-color: #f9fafb;
    padding: 5px;
    width: 100%;
  };

  .container-text-imgOne{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
  }


  .container-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .container-box{
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 80%;
  }

  
  .style-imagen-one{
    width: 100%;
    height: 500px;
  }

  .styles-background{
    display: none;
  }
  .container-btn-arrow {
    background-color: #7929e2;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    height: 60px;
    gap: 5px;
    justify-content: flex-end;
    font-weight: bold;
    &:hover{
      background-color: #afdb00;
      color: black;
    }
  }

  .styles-text{
    color: #7929e2;
  }

  .style-upload-link{
    color: #f9f9f9;
    gap: 5px;
  }

  .icon-upload {
    height: 30px;
  }
  
  .styles-text-paragraph{
    font-size: 25px;
  }
  .container-empleados-felices{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    gap: 35px;
    padding: 20px 10px;
  }


  .styles-green-text{
    color: #afdb00;
    font-size: 30px;
    font-weight: bold;
  }
  .styles-simbol{
    font-size: 95px;
    color: #afdb00;
    font-weight: bold;
  }
    //Seccion imagen mujer
  .img-mujer-pc{
    height: 300px;
    width: 400px;
  }

  .container-violet-box{
    border-radius: 30px;
    background-color: #7929e2;
    box-shadow: 5px 4px 18px 5px rgb(56 56 56 / 71%);
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 200px;
  }
  

  .container-violet{
    background-color: #7929e2;
  }

  .style-text-white{
    color: white;
    font-size: 30px;
  }

  .container-btn-arrow-white{
    background-color: white;
    border-radius: 15px;
    font-size: 15px;
    color: black;
    height: 60px;
    gap: 8px;
    justify-content: flex-end;
  }

  .style-upload-link-white{
    color: black;
    gap: 5px;
  }

  //Contañe desempeño
  .container-login{
    width: 490px;
    height: 520px;

  }

  .container-text-imgtree{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
  }
  

//
.container-box-metodologia{
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 350px;
    padding: 10px;
  }

  .container-metodologia{
    text-align: center;
    
  }

  .container-title-metodologia{
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 25px;
  }

  .container-metodologia-wrap{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0px;
    width: 100%;
    justify-content: center;
  }

  .style-tittle-card{
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
  }

  .styles-paragraph-card{
    font-size: 13px;
    margin-top: 25px;
  }

  //

   ////

  .container-wrap-info-violeta{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
    padding: 10px;
    position: relative;
    color: #fff;
    justify-content: center;
  }
  
  .container-elemento-violeta{
    position: relative;
    width: 300px;
  }

  .container-interior-green{
    border-radius: 20px;
    background-color: #afdb00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    width: 175px;
    height: 100px;
    position: absolute;
    top:-30px;
    left: 20%;
    color: black;
  }

  .container-texto-violet{
    margin-top: 80px;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .container-btn-arrow-green{
    background-color: #afdb00;
    border-radius: 15px;
    font-size: 16px;
    color: black;
    height: 60px;
    gap: 5px;
    justify-content: flex-end;
    font-weight: 600;
    &:hover{
      background-color: #fff;
      color: black;
    }
  }
  .style-upload-link-violet{
    color: black;
    font-size: 20px;
  }
  .container-paragrap{
    color: #fff;
    text-align: center;
  }

  .container-web{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  ///

  .container-tu-marca{
    
    font-size: 40px;
    font-weight: 600;
  }

  .styles-paragraph{
    font-size: 20px;
    margin-top: 30px;
  }

  .style-title-sidebar{
    font-size: 30px;
    font-weight: bold;
  }

  .styles-text-login{
    color: #7929e2;
    font-size: 13px;
  } 

  .check-color {
    cursor: pointer;
    border: 2px solid #7929e2;
    appearance: none;
    width: 22px;
    height: 22px;
  }

  .check-color:checked {
    background-color: #7929e2;
    border-color: #7929e2;
  }

  .color-text-check {
    color: #7929e2;
    font-size: 12px;
  }

  .container-contactanos{
    display: flex;
    width: 50%;
    margin-left: 80px;
  }

  .styles-btn-login{
    font-size: 15px;
  }


 //seccion prueba social
  .style-name{
    color: #7929e2;
  }

  //Estilos footer home
  .container-footer{
    display: flex;
  }
  
  .container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .styles-icon-logo{
    width: 150px;
    height: 80px;
  }

  .style-upload-link{
    font-size: 15px;
  }

  .container-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 40px;
      height: 40px;
    }
  }


  .home-img{
    height: 300px;
    background-image: url("./../../imagenes/fondo-login.png");
  }

  ///derechos
  .container-derechos{
    display: flex;
    color: #7929e2;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }

  .styles-text-title-social{
    color: #7929e2;
    font-size: 20px; 
  }
  .style-title-bold{
    font-weight: bold;
  }
}

