

@media only screen and (max-width: 480px) {
  .card {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
  }
  .styles-img-curse{
    border-radius: 10px;
  }

  .title {
    color: #6f27cd;
    font-size: 16px;
  }
  .card-text {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .container-imag-card {
    background-color: #f9fafb;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
  }

  .footer {
    display: flex;
    gap: 5px;
    .button {
      padding: 5px;
      border-radius: 50em;
      &.secondary {
        color: #6f27cd;
        background-color: white;
        border:1px solid #6f27cd;
      }
    }
  }
}

// Tablet
@media only screen and  (min-width:481px) and (max-width:1000px){
  .card {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
  }

  .styles-img-curse{
    border-radius: 10px;
  }

  .title {
    color: #6f27cd;
    font-size: 20px;
  }
  .card-text {
    margin-bottom: 5px;
    font-size: 15px;
  }
  .container-imag-card {
    background-color: #f9fafb;
    padding: 10px;
      border-radius: 10px 10px 0px 0px;
  }
  .footer {
    display: flex;
    gap: 5px;
    .button {
      padding: 5px;
      border-radius: 10px;
      &.secondary {
        color: #6f27cd;
        background-color: white;
        border:1px solid #6f27cd;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .card {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    
  }
  .styles-img-curse{
    border-radius: 10px;
  }
  .title {
    color: #6f27cd;
    font-size: 16px;
  }
  .card-text {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .container-imag-card {
    background-color: #f9fafb;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
  }
  .footer {
    display: flex;
    gap: 5px;
    .button {
      padding: 5px;
      border-radius: 10px;
      &.secondary {
        color: #6f27cd;
        background-color: white;
        border:1px solid #6f27cd;
      }
    }
  }
}