
.tabWrapper {
  color: white;
}

.tab {
  display: none;
  margin-top: 20px;
  color: white;
  &.active {
    display: block;
  }
}
.tabItems {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5%;
  border-bottom: 1px solid white;
  .tabItem {
    color: white;
    font-size: 11px;
    list-style-type: none;
    padding-bottom: 10px;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    &.activeItem {
      color: #afdb00;
      border-bottom: 3px solid #afdb00;
    }
  }
}

.container-beneficios-all{
  display: flex;
  align-items: center;
  flex-direction: row;
  color: white;
  gap: 15px;
}
.container-beneficios{
  .beneficio {
    display: flex;
    gap: 16px;
    margin-top: 10px;
    .icon {
      position: relative;
      top: 4px;
    }
    .text {
      width: 90%;
    }
  }
}

@media only screen and  (max-width: 480px) {
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  .tabItems {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5%;
    border-bottom: 1px solid white;
    .tabItem {
      color: white;
      font-size: 8px;
      list-style-type: none;
      padding-bottom: 10px;
      font-weight: 600;
      border-bottom: 3px solid transparent;
      &.activeItem {
        color: #afdb00;
        border-bottom: 3px solid #afdb00;
      }
    }
  }


}

//tablet
@media only screen and  (min-width:480px) and (max-width:1000px){

  .tabItems {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5%;
    border-bottom: 1px solid white;
    .tabItem {
      color: white;
      font-size: 16px;
      list-style-type: none;
      padding-bottom: 10px;
      font-weight: 600;
      border-bottom: 3px solid transparent;
      &.activeItem {
        color: #afdb00;
        border-bottom: 3px solid #afdb00;
      }
    }
  }

}
//web
@media only screen and (min-width: 1000px) {

}