
@media only screen and  (max-width: 480px) {}
@media only screen and  (min-width:480px) and (max-width:1000px){}
@media only screen and (min-width: 1000px) {
  .icon-impacta{
    height: 125px;
    width: 280px;
  }
//sidebar
  .banner-styles{
    height:60px ;
    border-radius: 10px;
  }
//container elementos de sidebar
  .container-styles-elements{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
  }

  .container-valorar{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  //stylo btn filter 
  .styles-btn-check{
    color: white;
    padding: 5px;
    &:hover{
      background-color:  #afdb00;
      border-radius: 5px;
    }
  }

  //styo linea separadora
    .style-line{
    border-bottom: 1px solid #afdb00;
  }

  //estilos para las carsd aportes
  .wrapper {
    width: 100%;
  }

  .container-aporte{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }

  .container-comentary{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .styles-title-nombre{
    color: #7929e2; 
    font-size: 10px;
  }

  //Estilos del modulo principal
  .container-title{
    color:white;
    border-bottom: 1px solid white;
  }

  .styles-tittle-curso{
    font-size: 50px;
  }

  .container-video{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 35px;
  }

  .react-player{
    border-top: 10px;
  }

  .container-acerca-instructor{
    display:flex;
    color: white;
  }
  .container-foto-perfil {
    margin-left: 50px;
    margin-right: 20px;
  }

  .foto-perfil {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    margin-right: 5px;
    border: 3px solid #abc821;
  }



  .container-acerca-instructor{
    margin-top:50px
  }

  .styles-tittle-instructor{
      font-size: 20px;
      margin-bottom: 10px;
      color:  #7929e2;
  }

  .container-beneficios-all{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    gap: 15px;
  }
  .container-beneficios{
    .beneficio {
      display: flex;
      gap: 16px;
      margin-top: 10px;
      .icon {
        position: relative;
        top: 4px;
      }
      .text {
        width: 90%;
      }
    }
  }

  .container-descripcion{
    color: white;
    display: flex;
    flex-direction: column;
  }

  .line-styles{
    border-bottom: 1px solid white;
  }

  .styles-subttitle{
    color:  #afdb00;
  }
  .container-requerimientos{
    color: white;
  }

  .container-btn-next{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .container-icon-btn{
    display: flex;
    align-items: center;
    background-color: #7929e2;
    border-radius: 10px;
    gap: 5px;
  }

  .styles-icon{
    height: 30px;
    width: 30px;
  }
}
