
@media only screen and  (max-width: 480px) {}
@media only screen and  (min-width:480px) and (max-width:1000px){}
@media only screen and (min-width: 1000px) {
  .icon-impacta{
    height: 125px;
    width: 280px;
  }

  .banner-styles{
    height:60px ;
    border-radius: 10px;
  }

  .container-styles-number{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
  }

  .container-valorar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .container-valorar-all{
    border-bottom: 1 solid #afdb00;
  }

  .container-aporte{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }

  .container-comentary{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .styles-title-nombre{
    color: #7929e2; 
    font-size: 10px;
  }


  .container-title{
    color:white;
    border-bottom: 1px solid white;
  }

  .styles-tittle-curso{
    font-size: 50px;
  }

  .container-video{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 35px;
  }

  .react-player{
    border-top: 10px;
  }

  .container-acerca-instructor{
    display:flex;
    color: white;
  }
  .container-foto-perfil {
    margin-left: 50px;
    margin-right: 20px;
  }

  .foto-perfil {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    margin-right: 5px;
    border: 3px solid #abc821;
  }



  .container-acerca-instructor{
    margin-top:50px
  }

  .styles-tittle-instructor{
      font-size: 20px;
      margin-bottom: 10px;
      color:  #7929e2;
  }

  .container-beneficios-all{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    gap: 15px;
  }
  .container-beneficios{
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-descripcion{
    color: white;
    display: flex;
    flex-direction: column;
  }

  .line-styles{
    border-bottom: 1px solid white;
  }

  .styles-subttitle{
    color:  #afdb00;
  }
  .container-requerimientos{
    color: white;
  }

  .container-btn-next{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .container-icon-btn{
    display: flex;
    align-items: center;
    background-color: #7929e2;
    border-radius: 10px;
    gap: 5px;
  }

  .styles-icon{
    height: 30px;
    width: 30px;
  }
}
