.wrapper {
  min-width: 240px;
}
@media only screen and (max-width: 480px) {
  .card {
    border-radius: 10px;
    border: none;
    box-shadow: 5px 4px 18px 5px rgba(56, 56, 56, 0.71);
  }
  .container-header-card{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: 600;
    padding: 6px;
    justify-content: space-around;

  }
  .container-like-coments{
    display: flex;
    gap: 10px;
  }
  .styles-lik-coments{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .styles-img-curse{
    max-width:100%;
  }

  .title {
    color: #6f27cd;
    font-size: 16px;
  }
  .textEllipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-weight: bold;
    font-size: 19px;
    white-space: nowrap;
  }
  .card-text {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  .container {
    background-color: #f9fafb;
    border-radius: 10px;
  }

  .footer {
    display: flex;
    gap: 5px;
    justify-content: center;
    .button {
      padding: 5px;
      border-radius: 50em;
      &.secondary {
        color: #6f27cd;
        background-color: white;
        border:1px solid #6f27cd;
      }
    }
  }
  .style-link-articule{
    color: #f9fafb;
    background-color: #6f27cd;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &:hover{
      color:#6f27cd;;
      background-color: #afdb00;;
    }
  }
  .style-link-articule{
    color: #f9fafb;
    background-color: #6f27cd;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &:hover{
      color:#6f27cd;;
      background-color: #afdb00;;
    }
  }
  .style-footer-card{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

// Tablet
@media only screen and  (min-width:481px) and (max-width:1000px){
  .card {
    border-radius: 10px;
    border: none;
    box-shadow: 5px 4px 18px 5px rgba(56, 56, 56, 0.71);
  }

  .container-header-card{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: 600;
    padding: 6px;
    justify-content: space-around;

  }
  .container-like-coments{
    display: flex;
    gap: 10px;
  }
  .styles-lik-coments{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .styles-img-curse{
    max-width:100%;
  }

  .title {
    color: #6f27cd;
    font-size: 20px;
  }
  .textEllipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
  }
  .card-text {
    margin-bottom: 5px;
    font-size: 13px;
  }
  .container {
    background-color: #f9fafb;
    border-radius: 10px;
    min-height: 390px;
  }
  .footer {
    display: flex;
    gap: 5px;
    justify-content: center;
    .button {
      padding: 5px;
      border-radius: 10px;
      &.secondary {
        color: #6f27cd;
        background-color: white;
        border:1px solid #6f27cd;
      }
    }
  }
  .style-link-articule{
    color: #f9fafb;
    background-color: #6f27cd;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &:hover{
      color:#6f27cd;;
      background-color: #afdb00;;
    }
  }
  .style-footer-card{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1000px) {
  .card {
    border-radius: 10px;
    border: none;
    box-shadow: 5px 4px 18px 5px rgba(56, 56, 56, 0.71);
    max-width: 280px;
  }
  .container-header-card{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: 600;
    padding: 6px;
    justify-content: space-around;

  }
  .container-like-coments{
    display: flex;
    gap: 10px;
  }
  .styles-lik-coments{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .style-date-card{

  }
  .styles-img-curse{
    max-width:100%;
  }
  .title {
    color: #6f27cd;
    font-size: 16px;
  }
  .textEllipsis {
    text-overflow: ellipsis;
    max-width: 180px;
    overflow: hidden;
    display: block;
    font-weight: bold;
    font-size: 22px;
    white-space: nowrap;
  }
  .card-text {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .container {
    background-color: #f9fafb;
    border-radius: 10px;
    min-height: 350px;
    .header {
      padding: 20px;
      font-size: 12px;
    }
  }
  .footer {
    display: flex;
    gap: 5px;
    justify-content: center;
    .button {
      padding: 5px;
      border-radius: 10px;
      &.secondary {
        color: #6f27cd;
        background-color: white;
        border:1px solid #6f27cd;
      }
    }
  }
  .style-link-articule{
    color: #f9fafb;
    background-color: #6f27cd;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &:hover{
      color:#6f27cd;;
      background-color: #afdb00;;
    }
  }
  .style-footer-card{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}