
@media only screen and (max-width: 480px) {
  .circle-violet {
    background: #7929e2;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  
  .circle-green {
    background: #abc821;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  
  .circle-violet-sm{
    background: #7929e2;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .circle-green-sm{
    background: #abc821;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  
  .circle-blue-sm{
    background: #2985e2;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
}
@media only screen and  (min-width:481px) and (max-width:1000px){
  .circle-violet {
    background: #7929e2;
    border-radius: 50%;
    width: 26px;
    height: 21px;
  }
  
  .circle-green {
    background: #abc821;
    border-radius: 50%;
    width: 26px;
    height: 21px;
  }
  
  .circle-violet-sm{
    background: #7929e2;
    border-radius: 50%;
    width: 14px;
    height: 16px;
  }
  .circle-green-sm{
    background: #abc821;
    border-radius: 50%;
    width: 15px;
    height: 16px;
  }
  
  .circle-blue-sm{
    background: #2985e2;
    border-radius: 50%;
    width: 15px;
    height: 16px;
  }
}
@media only screen and (min-width: 1000px) {
  .circle-violet {
    background: #7929e2;
    border-radius: 50%;
    width: 26px;
    height: 26px;
  }
  
  .circle-green {
    background: #abc821;
    border-radius: 50%;
    width: 26px;
    height: 26px;
  }
  
  .circle-violet-sm{
    background: #7929e2;
    border-radius: 50%;
    width: 15px;
    height: 16px;
  }
  .circle-green-sm{
    background: #abc821;
    border-radius: 50%;
    width: 15px;
    height: 16px;
  }
  
  .circle-blue-sm{
    background: #2985e2;
    border-radius: 50%;
    width: 15px;
    height: 16px;
  }
}