.circle-violet {
  background: #7929e2;
  border-radius: 50%;
  width: 26px;
  height: 18px;
}

.circle-green {
  background: #abc821;
  border-radius: 50%;
  width: 26px;
  height: 18px;
}

.circle-violet-sm{
  background: #7929e2;
  border-radius: 50%;
  width: 16px;
  height: 12px;
}
.circle-green-sm{
  background: #abc821;
  border-radius: 50%;
  width: 16px;
  height: 12px;
}