
.btn-style{
  justify-content: center;
}
@media only screen and (max-width: 480px) {
  .container-card{
    display: flex;
    justify-content: center;
  }

  .box-container {
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    border-radius: 10px;
    border: none;
  }

  .imgProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
  }

  .cardInfo {
    font-size: 12px;
    padding: 0;
    font-weight: 400;
  }
  .container-img-user{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 3px;
  }

  .styles-name{
    font-size: 15px;
    font-weight: 600;
  }

  .infoWrap {
    margin-top: 15px;
    text-align: center;
  }
  .img-perfil-style{
    border-radius: 100%;
    height: 90px;
    width: 90px;
    border: 3px solid #abc821;
  }

  .style-span {
    display: block;
    font-size: 10px;
    margin-top: 5px;
    text-align: center;
  }

  .wrapTime{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .style-tiempo-acomulado{
    background-color: #7929e2;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
    padding: 5px 0;
    color: #ffff;
  }

  .container-card-web{
    display: none !important;
  }
  .styles-mobile-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .container-card-mobile{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    width: 100%;
  }
  .style-line{
    border-right: 1px solid #ffff;
    align-items: center;
    padding: 1px;
  }
  .container-element-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    height: 35px;
    padding: 5px;
  }
  .container-courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .style-tiempo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 30px;
    padding: 2px;
  }

  .styles-span-footer{
    margin-right: 8px;
  }

}


@media only screen and  (min-width:481px) and (max-width:1000px){
  .container-card{
    display: flex;
    justify-content: center;
  }

  .box-container {
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    border-radius: 10px;
    border: none;
    width: 328px;
  }
  .imgProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
  }
  .cardInfo {
    font-size: 12px;
    padding: 0;
  }
  .container-img-user{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 3px;
  }
  .styles-mobile-card{
    display: flex;
    gap:10px;
    font-weight: 600;
    justify-content: center;
  }

  .styles-name{
    font-size: 15px;
    font-weight: 600;
  }

  .infoWrap {
    margin-top: 15px;
    text-align: center;
  }
  .img-perfil-style{
    border-radius: 100%;
    height: 80px;
    width: 80px;
    border: 3px solid #abc821;
  }
  .wrapTime {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 5px;
  }

  .style-tiempo-acomulado{
    background-color: #7929e2;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
    padding: 5px 0;
    color: #ffff;
  }
  .container-card-mobile{
    font-size: 10px;
    width: 100%;
  }
  .style-line{
    border-right: 1px solid #ffff;
    align-items: center;
    padding: 1px;
  }
  .container-element-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    height: 35px;
    padding: 5px;
  } 

  .container-courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .style-tiempo{
    display: flex;
    gap: 2px;
    align-items: center;
  }
  .style-span {
    display: block;
    font-size: 10px;
    margin-top: 5px;
  }
  .styles-span-footer{
    margin-right: 8px;
  }

}

@media only screen and (min-width: 1000px) {


  .box-container {
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    border-radius: 10px;
    border: none;
  }

  .container-img-user{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 3px;
  }

  .imgProfile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-perfil-style{
    border-radius: 100%;
    height: 90px;
    width: 90px;
    border: 3px solid #abc821;
  }

  .infoWrap {
    margin-top: 15px;
    text-align: center;
  }

  .styles-name{
    font-size: 15px;
    font-weight: 600;
  }

  .textEllipsis {
    text-overflow: ellipsis;
    max-width: 120px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
  }
  .style-span {
    display: block;
    font-size: 13px;
    margin-top: 5px;
    
  }
  .cardInfo {
    font-size: 12px;
    padding: 0;
    font-weight: 500;
  }


  .style-tiempo-acomulado{
    background-color: #7929e2;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
    padding: 5px 0;
    color: #ffff;
  }

  .wrapTime{
      display: flex;
      align-items: center;
      gap: 2px;
      padding: 10px;
  }


  .container-card-mobile{
    font-size: 12px;
    width: 100%;
  }
  .style-line{
    border-right: 1px solid #ffff;
    align-items: center;
    padding: 1px;
  }
  .container-element-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    height: 35px;
    padding: 5px;
  } 
  .styles-span-footer{
    margin-right: 10px;
  }
  .container-courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .style-tiempo{
    display: flex;
    align-items: center;
  }

}