// .container-login {
//   margin: 50px;
// }

// .img-logo {
//   // margin-left: 48px;
//   height: 120px;
//   width: 260px;
// }

// .form-forgot {
//   box-shadow: 0px 6px 36px 14px #4c0ba2b4;
//   border-color: #7929e2;
//   margin-top: 30px;
//   width: 360px;
//   height: 320px;
//   background-color: white;
//   border-radius: 10px;
//   padding: 40px;
// }

// .tittle-style {
//   color: #7929e2;
//   margin-bottom: 10px;
//   font-weight: bold;
// }
// .parrafo-style {
//   color: #7929e2;
// }

// .style-input {
//   border: 2px solid #7929e2;
//   border-radius: 10px;
//   margin-top: 5px;
//   margin-bottom: 10px;
//   color: black;
// }
@media only screen and  (max-width: 480px) {
  .container-login {
    margin: 50px;
  }

  .img-logo {
    // margin-left: 48px;
    height: 120px;
    width: 260px;
  }

  .form-forgot {
    box-shadow: 0px 6px 36px 14px #4c0ba2b4;
    border-color: #7929e2;
    margin-top: 30px;
    width: 300px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
  }

  .tittle-style {
    color: #7929e2;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .parrafo-style {
    color: #7929e2;
  }

  .style-input {
    border: 2px solid #7929e2;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;
  }
}