
@media only screen and (max-width: 480px) {

  .cardVioletContainer,
div.containerSocial {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  gap: 35px;
  padding: 10px;
}

.container-violet {
  background-color: #7929e2;
  padding: 10px 40px 40px;
  .title {
    color: #fff;
    margin: 35px 0 45px 0;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
}
  .container-grey{
    background-color: #f9fafb;
    padding: 5px;
  };

  .container-box{
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  .container-box-social{
    border-radius: 30px;
    background-color: #f9fafb;
    // box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  .container-text-imgtree{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  .container-tu-marca{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
  

  .container-btn-arrow {
    background-color: #7929e2;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    height: 60px;
    gap: 5px;
    justify-content: flex-end;
    font-weight: bold;
    &:hover{
      background-color: #afdb00;
      color: black;
    }
  }

  .container-btn-arrow-white{
    background-color: white;
    border-radius: 15px;
    font-size: 16px;
    color: black;
    height: 60px;
    gap: 8px;
    justify-content: flex-end;
    font-weight: bold;
    &:hover{
      background-color: #afdb00;
      color: black;
    }
  }

  .style-title-bold{
    font-weight: bold;
  }
  .styles-text{
    color: #7929e2;
  }

  .style-upload-link{
    color: #f9f9f9;
    gap: 5px;
    font-weight:bold ;
    font-size: 13px;
    &:hover{
      color: black;
    }
  }

  .icon-upload {
    height: 30px;
    
  }

  .style-imagen-one{
    width: 100%;
  }

  .container-categorias{
    display: flex;
  }

  .container-styles-description{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-top: 15px;
  }

  .container-elements-information{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .styles-line{
    border: none;
  }
  
  .container-descripcion-number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: bold;
  }
  .styles-green-text{
    color: #afdb00;
    font-size: 30px;
    font-weight: bold;
  }


    //Seccion aprende


  .style-text-white{
    color: white;
    font-size: 20px;
  }


  .style-upload-link-white{
    color: black;
    gap: 5px;
  }
  .container-wrap{
    text-align:center ;
  }

  .style-title-sidebar{
    font-size: 20px;
    font-weight: bold;
  }
  .container-title-social{
    text-align: center;
  }




   //Estilos footer home

  .container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .styles-icon-logo{
    width: 110px;
    height: 50px;
  }

  .container-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 20px;
      height: 20px;
    }
  }

  .styles-text-title-social{
    color: #7929e2;
    font-size: 20px; 
  }
  ///derechos
  .container-derechos{
    display: flex;
    color: #7929e2;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }

  .title-center-home-mobile{
    text-align: center;
  }


}



// Tablet
@media only screen and  (min-width:481px) and (max-width:1000px){


.cardVioletContainer,
div.containerSocial {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  gap: 35px;
  padding: 20px 10px;
}
div.containerSocial {
  padding: 140px 80px 30px;
}
.container-violet {
  background-color: #7929e2;
  padding: 10px 40px 40px;
  .title {
    color: #fff;
    margin: 35px 0 45px 0;
    font-weight: 600;
    font-size: 30px;
  }
}
  .container-grey{
    background-color: #f9fafb;
    padding: 5px;
  };

  .container-box{
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .container-text-imgtree{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 10px;
  }

  .container-tu-marca{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }

  .container-btn-arrow {
    background-color: #7929e2;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    height: 60px;
    gap: 5px;
    justify-content: flex-end;
    &:hover{
      background-color: #afdb00;
      color: black;
    }
  }
  .container-btn-arrow-white{
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    color: black;
    height: 60px;
    gap: 8px;
    justify-content: flex-end;
    font-weight: bold;
    &:hover{
      background-color: #afdb00;
      color: #7929e2;
      font-weight: bold;
    }
  }
  .style-title-bold{
    font-weight: bold;
  }

  .styles-text{
    color: #7929e2;
  }
  .styles-text-title-social{
    color: #7929e2;
    font-size: 20px; 
  }
  .style-upload-link{
    color: #f9f9f9;
    gap: 5px;
    font-weight:bold ;
    font-size: 15px;
    &:hover{
      color: black;
    }
  }
  .icon-upload {
    height: 30px;
    
  }
  .style-imagen-one{
    width: 100%;
  }
  .container-styles-description{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 50%;
    font-weight: bold;
    margin-top: 4px;
  }

  .container-wrappers{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .container-elements-information{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .container-descripcion-number{
    display: flex;
  }

  .styles-line{
    border-right: 1px solid #7929e2;
  }

  .styles-green-text{
    color: #afdb00;
    font-size: 20px;
    font-weight: bold;
  }

  //Seccion aprende



  .style-text-white{
    color: white;
    font-size: 25px;
  }

  .style-upload-link-white{
    color: black;
    gap: 5px;
    
  }




  //desepeño
  .container-wrap{
    text-align:center ;
  }


   //Estilos footer home

  .container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .styles-icon-logo{
    width: 130px;
    height: 80px;
  }


  .container-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 50px;
      height: 50px;
    }
  }

  ///derechos
  .container-derechos{
    display: flex;
    color: #7929e2;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }

}




// WEB
@media only screen and (min-width: 1000px) {

  .cardVioletContainer,
div.containerSocial {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  gap: 35px;
  padding: 20px 10px;
}
div.containerSocial {
  padding: 137px 80px 30px;
}
.container-violet {
  padding: 10px 40px 40px;
  background-color: #7929e2;
  .title {
    color: #fff;
    margin: 35px 0 45px 0;
    font-weight: 600;
    font-size: 30px;
  }
}

  .container-grey{
    background-color: #f9fafb;
    padding: 5px;
    width: 100%;
  };


  .container-text-imgOne{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .container-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .container-box{
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 80%;
  }
  
  .style-imagen-one{
    width: 100%;
    height: 500px;
  }

  .styles-background{
    display: none;
  }

  .container-btn-arrow {
    background-color: #7929e2;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    height: 60px;
    gap: 5px;
    justify-content: flex-end;
    &:hover{
      background-color: #afdb00;
      color: black;
    }
  }

  .container-btn-arrow-white{
    background-color: white;
    border-radius: 15px;
    font-size: 15px;
    color: black;
    height: 60px;
    gap: 8px;
    justify-content: flex-end;
    font-weight: bold;
    &:hover{
      background-color: #afdb00;
      color: #7929e2;
      font-weight: bold;
    }
  }
  .style-title-bold{
    font-weight: bold;
  }
  .styles-text{
    color: #7929e2;
  }

  .style-upload-link{
    color: #f9f9f9;
    gap: 5px;
    font-weight:bold ;
    font-size: 15px;
    &:hover{
      color: black;
    }
  }

  .icon-upload {
    height: 30px;
  }
  
  .container-styles-description{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 50%;
    font-weight: bold;
  }

  .container-wrappers{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .container-elements-information{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .container-descripcion-number{
    display: flex;
  }

  .styles-line{
    border-right: 1px solid #7929e2;
  }

  .styles-green-text{
    color: #afdb00;
    font-size: 30px;
    font-weight: bold;
  }
    //Seccion aprende

  

  .style-text-white{
    color: white;
    font-size: 30px;
  }


  .style-upload-link-white{
    color: black;
    gap: 5px;
  }



  .container-text-imgtree{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .container-tu-marca{
    width: 50%;
    font-size: 40px;
    font-weight: 600;
  }
  .styles-paragraph{
    font-size: 20px;
    margin-top: 30px;
  }

  .style-title-sidebar{
    font-size: 30px;
    font-weight: bold;
  }

  .styles-text-title-social{
    color: #7929e2;
    font-size: 20px; 
  }

  .container-contactanos{
    display: flex;
    width: 50%;
    margin-left: 80px;
  }

  .styles-btn-login{
    font-size: 15px;
  }


 //seccion prueba social
  .style-name{
    color: #7929e2;
  }

  //Estilos footer home

  .container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .styles-icon-logo{
    width: 150px;
    height: 80px;
  }
 
  .container-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 40px;
      height: 40px;
    }
  }



  ///derechos
  .container-derechos{
    display: flex;
    color: #7929e2;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }

  .btn-prev,.btn-next{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

