

@media only screen and  (max-width: 480px) {

  .style-navbar{
    display: none;
  }
  .style-sidebar{
    display: none;
  }
  .container-responsive{
    display: flex;
    justify-content: center;
  }
  .container-responsive-children{
    width: 100%;
  }
}
@media only screen and  (min-width:480px) and (max-width:1000px){

  .style-navbar{
    display: none;
  }
  .style-sidebar{
    display: none;
  }
  .container-responsive{
    display: flex;
    justify-content: center;
   
  }
  .container-responsive-children{
    width: 100%;
  }
}