
@media only screen and (max-width: 480px) {
  .btn-style {
    color: white;
    background-color: #7929e2;
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center
    ;
    &:hover {
      color: white;
      background-color: #6f27cd;
    }
  }
  .btn-primary {
    position: absolute;
    top: 129px;
    right: 0;
    &:hover{
      background-color:  #afdb00;
      // &:active{
      //   display: none;
      // }
    }
   
  }
  .btn-secondary {
    background-color: #6f27cd;
    outline: none;
    font-size: 11px;
    height: 30px;
    border-radius: 5px
  }

  .btn-terciary{
    font-size: 12px;
    background-color: #6f27cd;
    border-radius: 10px;
    // padding: 10px;
    height: 25px;
    width: 50%;
    outline: none;
    & :hover{
      background-color: #afdb00;
    }
  }

  .btn-cuartary{
    background-color: #afdb00;
    outline: none;
    padding: 0;
    font-size: 12px;
    height: 30px;
    & :hover{
      background-color: #6f27cd;
    }
  }

  .btn-fifth{
    background-color: none;
    border-radius: 15px;
    & :hover{
      border-radius: 10px;
      background-color:  #afdb00;
      }
  }
}
@media only screen and  (min-width:481px) and (max-width:1000px){
  .btn-style {
    color: white;
    background-color: #7929e2;
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border: none;
    outline: none;
    &:hover {
      color: white;
      background-color: #6f27cd;
    }
  }
  .btn-primary {
    position: absolute;
    top: 129px;
    right: 0;
    &:hover{
      background-color:  #afdb00;
      // &:active{
      //   display: none;
      // }
    }
  }
  .btn-secondary {
    background-color: #6f27cd;
    outline: none;
    font-size: 11px;
    height: 30px;
    border-radius: 5px
  }

  .btn-terciary{
    font-size: 12px;
    background-color: #6f27cd;
    border-radius: 10px;
    // padding: 10px;
    height: 25px;
    width: 50%;
    outline: none;
    & :hover{
      background-color: #afdb00;
    }
  }

  .btn-cuartary{
    background-color: #afdb00;
    outline: none;
    padding: 0;
    font-size: 12px;
    height: 30px;
    & :hover{
      background-color: #6f27cd;
    }
  }

  .btn-fifth{
    background-color: none;
    border-radius: 15px;
    & :hover{
      border-radius: 10px;
      background-color:  #afdb00;
      }
  }
  
  .btn-modal{
    width: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .btn-style {
    color: white;
    background-color: #7929e2;
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border: none;
    outline: none;
    &:hover {
      color: white;
      background-color: #6f27cd;
    }
  }

  .btn-primary {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;

    transform:translate(-50%,-50%) ;
    &:hover{
      background-color:  #afdb00;
      &:active{
        display: none;
      }
    }


  }
  .btn-secondary {
    background-color: #6f27cd;
    outline: none;
    font-size: 11px;
    height: 30px;
    border-radius: 5px
  }

  .btn-terciary{
    font-size: 12px;
    background-color: #6f27cd;
    border-radius: 10px;
    // padding: 10px;
    height: 25px;
    width: 50%;
    outline: none;
    & :hover{
      background-color: #afdb00;
    }
  }

  .btn-cuartary{
    background-color: #afdb00;
    outline: none;
    padding: 0;
    font-size: 12px;
    height: 30px;
    & :hover{
      background-color: #6f27cd;
    }
  }

  .btn-fifth{
    background-color: none;
    border-radius: 15px;
    & :hover{
      border-radius: 10px;
      background-color:  #afdb00;
      }
  }
  .btn-modal{
    width: 100px;
  }
}