.btn-style {
  color: white;
  background-color: #7929e2;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  &:hover {
    color: white;
    background-color: #6f27cd;
  }
}
.btn-primary {
  background-color: red;
}
.btn-secondary {
  outline: none;
  background-color: #6f27cd;
  outline: none;
}

.btn-terciary{
  font-size: 12px;
  
}
.btn-cuartary{
  outline: none;
  padding: 0;
  font-size: 12px;
  height: 30px;
  & :hover{
    background-color: #afdb00;
  }
}


@media only screen and (max-width: 480px) {
  .btn-style {
    color: white;
    background-color: #7929e2;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    &:hover {
      color: white;
      background-color: #6f27cd;
    }
  }
}