.btn-style {
  color: white;
  background-color: #7929e2;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  &:hover {
    color: white;
    background-color: #6f27cd;
  }
}
.btn-primary {
  background-color: red;
}
.btn-secondary {
  
}
