.calendar {
  background-color: #f9f9f9;
  box-shadow: 0px 6px 36px 14px #e6e6e8b4;
}

.react-calendar {
  width: 100%;
  background-color: #f9f9f9;
  max-width: 100%;
  border: 1px solid #f9f9f9;
  color: #222;
  font-weight: bold;
}

.react-calendar button {
  margin: 0;
  border: 1px solid #7929e2;
  outline: none;
  // margin: 1px 8px 1px 1px;
}
.react-calendar__navigation {
  display: flex;
  height: 30px;
  margin-bottom: 5px;
}

.react-calendar__navigation {
  button {
    color: #7929e2;
    min-width: 50px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
    font-weight:bold;
    // margin-bottom: 25px;
    height: 30px;  
    border: 0; 
    &:enabled {
      &:hover,
      &:focus {
        background-color: #abc821;
      }
    }
  } 
}
.react-calendar__month-view__days{
  margin: 1px 1px 1px 1px;
}
.react-calendar__month-view__days .react-calendar__month-view__days__day{
  margin: 1px 8px 1px 1px;
}

.react-calendar__month-view__days__day--weekend {
  color: black
}

.react-calendar__navigation button[disabled] {
  background-color: #abc821;
}

.react-calendar__tile{
  &:enabled{
    &:hover,
    &:focus {
      background: #7929e2;
      color: #fff;
    }
  }
}
.react-calendar__tile .react-calendar__month-view__days__day button{
  border-style: 1px solid #7929e2;
}
//estilos para el dia actual
.react-calendar__tile--now {
  background: #7929e2;
  font-weight: bold;
  color: #fff;

  &:enabled{
    &:hover,
    &:focus {
      // background: #7929e2;
      background: #abc821;
      font-weight: bold;
      color: #fff;
    }
  }
}
.react-calendar__tile--active {
  background: #7929e2;
  color: white;
}

.react-calendar__tile--hasActive:enabled:hover, .react-calendar__tile--hasActive:enabled:focus {
  background: #abc821;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  font-size: 0.75em;
  margin-right: 10px;
}

//Esilos para el contenedor de los meses y años
.react-calendar .react-calendar__year-view{
  margin-top: 20px;
}

.react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view 
.react-calendar__tile, .react-calendar__century-view .react-calendar__tile{
  height: 40px;
  padding: 10px 15px;
  // margin: 2px 0.5px 0px 0px;
}


//estylos decadas
.react-calendar__decade-view__years{
  margin-top: 20px;
}
.react-calendar__tile .react-calendar__decade-view{
  margin: 5px 8px 1px 1px;
}
.react-calendar__tile .react-calendar__decade-view__years__year{
  margin: 5px 8px 1px 1px;
}
//sryle centenary
.react-calendar__century-view__decades{
  margin-top: 20px;
}


