.calendar {
  background-color: #f9fafb ;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%)
}

.react-calendar__month-view__days__day--neighboringMonth{
  display: none;
}

.react-calendar {
  width: 100%;
  background-color: #f9fafb;
  max-width: 100%;
  border: 1px solid #f9fafb;
  color: #222;
  font-weight: bold;
}

// contenedor del numero
.react-calendar button {
  margin: 0;
  background-color: #f9fafb;
  color: #959696;
  outline: none;
  border-radius: 3px;
}

.react-calendar__navigation {
  display: flex;
  height: 30px;
  margin-bottom: 10px;
}

//Menu
.react-calendar__navigation {
  button {
    color: #7929e2;
    min-width: 20px;
    background: none;
    font-size: 10px;
    margin-top: 4px;
    font-weight:bold;
    height: 20px;  
    border: 0; 
    &:enabled {
      &:hover,
      &:focus {
        background-color: #abc821;
        color: #fff;
      }
    }
  } 
}

// titulos dias
.react-calendar__month-view__weekdays__weekday{
  font-size: 8px;
  padding: 0px;
}

.react-calendar__month-view__days{
  margin: 1px -5px 1px -10px;
  font-size: 10px;
}

.react-calendar__month-view__days .react-calendar__month-view__days__day{
  margin: 1px 8px 1px 1px;
}

// bagraconhover
.react-calendar__tile{
  line-height: 0px;

  &:enabled{
    &:hover,
    &:focus {
      background-color: #7929e2;
      color: #fff;
    }
  }
}


//estilos para el dia actual
.react-calendar__tile--now {
  background-color: #7929e2;
  font-size: 13px;
  font-weight: bold;
  color: #7929e2;

  &:enabled{
    &:hover,
    &:focus {
      background: #afdb00;
      font-weight: bold;
      color: #fff;
    }
  }
}
.react-calendar__tile--active {
  background: #7929e2;
  color: white;
}



.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  font-size: 0.75em;
  margin-right: 10px;
}

//Esilos para el contenedor de los meses y años
.react-calendar__tile .react-calendar__year-view__months__month{
  margin: 0;
  padding: 0px;
}
.react-calendar .react-calendar__year-view{
  margin-top: 10px;
  font-size: 10px;
}

.react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view 
.react-calendar__tile, .react-calendar__century-view .react-calendar__tile{
  height: 30px;
  padding: 1px 5px;
}


//estylos decadas
.react-calendar__decade-view__years{
  margin-top: 10px;
  font-size: 10px;
}

.react-calendar__tile .react-calendar__decade-view__years__year{
  margin: 5px 8px 1px 1px;
}

//sryle centenary
.react-calendar__decade-view__years{font-size: 13px;}
.react-calendar__tile .react-calendar__decade-view{
  margin: 5px 8px 1px 1px;
}
.react-calendar__century-view__decades{
  margin-top: 10px;
  font-size: 8.3px;
}


