@media only screen and (max-width: 480px) {
  .style-title{
    color: #7929e2;
    font-size: 20px;
  }
}
@media only screen and  (min-width:481px) and (max-width:1000px){
  .style-title{
    color: #7929e2;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1000px) {
  .style-title{
    color: #7929e2;
    font-size: 20px;
  }

  .box-container {
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    border-radius: 30px;
  }

  .grid-container {
    display: grid;
    align-items: center;
    font-size: 13px;
  }

  .style-asterik {
    color: #7929e2;
  }

  .container-button-activa{
    display: flex;
    justify-content: flex-start;
    gap: 17px;
  }


  .btn-outline-primary{
    border-color: #7929e2;
    &:hover{
      background-color:  #afdb00;
      border-color: #afdb00;
    }
  }
  .styles-background-categories{
    height: 230px;
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%)
  }
}