

@media only screen and (max-width: 480px) {

  .style-title{
    color: #7929e2;
    font-size: 20px;
  }
  .style-title-logos{
    color: #7929e2;
    font-size: 16px;
  }


  .line-divider-boton{
    border-bottom:  1px solid #7929e2;
  }
  .style-img-perfil{
    height: 160px;
    width: 170px;
    border-radius: 100px;
  }

  .container-input {
    text-align: center;
    padding: 5px 0;
    border:2px solid #8c89890f;
    border-radius: 3px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
  }

  
}



// tablet
@media only screen and  (min-width:481px) and (max-width:1000px){
  
  .style-title-logos{
    color: #7929e2;
    font-size: 20px;
  }

  .line-divider-boton{
    border-bottom:  1px solid #7929e2;
  }

  .style-img-perfil{
    height: 145px;
    width: 160px;
    border-radius: 100px;
  }

  .container-input {
    text-align: center;
    padding: 5px 0;
    border:2px solid #8c89890f;
    border-radius: 3px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
  }


}


@media only screen and (min-width: 1000px) {
// web
  .style-title-logos{
    color: #7929e2;
    font-size: 20px;
  }


  .line-divider-boton{
    border-bottom:  1px solid #7929e2;
  }
  
  .style-img-perfil{
    height: 145px;
    width: 160px;
    border-radius: 100px;
  }

  .container-input {
    text-align: center;
    padding: 5px 0;
    border:2px solid #8c89890f;
    border-radius: 3px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
  }


}