

@media only screen and (max-width: 480px) {
  .box-container {
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    border-radius: 30px;
    font-size: 13px;
  }
  .container-menu{
    display: flex;
    justify-content: center;
  }

  .container-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-styles{
    height: 100px;
    width: 115px;
  }
  .icon-edit-style{
    width: 13px;
    height: 13px;
    margin-left: 10px;
  }

  .style-nav{
    color: black;
    text-decoration: none;
    background-color: #dee0e26a;
    padding: 5px 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap:5px;
    margin-bottom: 10px;
    &:hover{
      background-color: #7929e2;
      color: white;
    }
  }
}
@media only screen and  (min-width:481px) and (max-width:1000px){
  .box-container {
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    border-radius: 30px;
    font-size: 13px;
  }
  .container-icon{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .icon-styles{
    height: 100px;
    width: 115px;
  }
  .icon-edit-style{
    width: 13px;
    height: 13px;
    margin-left: 10px;
  }

  .style-nav{
    color: black;
    text-decoration: none;
    background-color: #dee0e26a;
    padding: 5px 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap:5px;
    margin-bottom: 10px;
    &:hover{
      background-color: #7929e2;
      color: white;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .box-container {
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    border-radius: 30px;
    font-size: 13px;
  }
  .container-icon{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .container-icon{
    display: block;
    text-align: center;
  }
  .icon-styles{
    height: 100px;
    width: 115px;
  }
  .icon-edit-style{
    width: 10px;
    height: 10px;
    margin-left: 10px;
  }

  .style-nav{
    color: black;
    text-decoration: none;
    background-color: #dee0e26a;
    padding: 5px 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    font-weight: 500;
    align-items: center;
    gap:5px;
    margin-bottom: 10px;
    &:hover{
      background-color: #7929e2;
      color: white;
    }
  }
}