.container-account {
  background-color: #7929e2;
  color: white;
  height: 150px
}

.style-container-nubmer-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.style-number-user-register{
  font-size: 50px;
  font-weight: bold;
}

.style-icon-person {
  height: 100px;
}


