.container-account {
  background-color: #7929e2;
  color: white;
  height: 100px;
  border-radius:10px;
  padding: 10px;
}

.style-container-nubmer-icon{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.style-number-user-register{
  font-size: 30px;
  font-weight: bold;
}

.style-icon-person {
  height: 50px;
}

.continaer-text-user{
  font-size: 11px;
}

