

.style-title-logos{
  color: #7929e2;
  font-size: 16px;
}


.line-divider-boton{
  border-bottom:  1px solid #7929e2;
}
.style-img-perfil{
  height: 145px;
  width: 160px;
  border-radius: 100px;
}

.container-input {
  text-align: center;
  padding: 5px 0;
  border:2px solid grey;
  border-radius: 3px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.container-bacgraund{
  border-radius: 5px;
  background-color: white;
  border-width: 2px;
  border-style: dashed;
  border-color: #8080801f;
}
//drag and drgo


.image-upload-wrap {
  background-color: #7929e2;
  position: relative;
  height: 100px;
  border: 4px solid #7929e2;
  margin-left: 10px;
  margin-right: 10px;
}
.file-upload-input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
  
}

.image-upload-wrap:hover {
  background-color: transparent;
  border: 4px solid #abc821;
}

.icon-photo{
height: 50px;
}

.container-upload-img{
  width: 280px;
}

.style-input-upload{


}
input[type=”file”] .style-input-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  }
  
//estylos elige color login
.input-select-color{
  height: 50px;
  border: none;
  background: white;
}