.nav-icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 3px;
  background-image: url("../../imagenes/icono-menu-1-fondo-blanco.png");
}
.nav-icon,
.nav-item .nav-link:hover > .nav-icon {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.icon-config {
  background-image: url("../../imagenes/icono-menu-2-fondo-blanco.png");
}
.icon-user {
  background-image: url("../../imagenes/icono-menu-3-fondo-blanco.png");
}
.icon-course {
  background-image: url("../../imagenes/icono-menu-5-fondo-blanco.png");
}
.nav-item {
  list-style: none;
}
.nav-item .nav-link {
  display: flex;
  padding: 0;
  gap: 5px;
  color: #4b209e;
  font-weight: bold;
  border-radius: 3px;
  align-items: center;
}
.nav-item .nav-link:hover {
  color: white;
  background-color: #2c1868;
}
.nav-item .nav-link:hover > .nav-icon {
  background-image: url("../../imagenes/icono-menu-1-fondo-color.png");
}
.nav-item .nav-link:hover > .icon-config {
  background-image: url("../../imagenes/icono-menu-2-fondo-color.png");
}
.nav-item .nav-link:hover > .icon-user {
  background-image: url("../../imagenes/icono-menu-3-fondo-color.png");
}
.nav-item .nav-link:hover > .icon-course {
  background-image: url("../../imagenes/icono-menu-5-fondo-color.png");
}
