.container-dos {
  display: grid;
}
.container-tres {
  display: grid;
}
.container-graph {
  display: flex;
  background-color: #7929e2;
  flex-direction: column;
  color: white;
  padding: 15px;
  height: 100px;
}

.background-color {
  background-color: #f9f9f9;
  box-shadow: 0px 6px 36px 14px #e6e6e8b4;
}

.container-promedio {
  height: 350px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.container-acountUser {
  height: 100px;
}

.style-text {
  color: #7929e2;
  font-size: 13px;
}

.style-number {
  color: #abc821;
  font-size: 50px;
}

.user-icon {
  height: 30px;
}

/* container consumo */

.container-consumo {
  height: 280px;
}

.style-circle-chart {
  height: 100px;
}

.circle-violet {
  background: #7929e2;
  border-radius: 50%;
  width: 26px;
  height: 18px;
}

.circle-green {
  background: #abc821;
  border-radius: 50%;
  width: 26px;
  height: 18px;
}

/* container upload */
.container-activate {
  background-color: #7929e2;

  font-size: 13px;
  color: white;
  height: 60px;
  justify-content: flex-end;
}

.icon-upload {
  height: 40px;
}

.divider-right {
  border-right: 1px solid #eee;
}

.divider-top {
  border-top: 1px solid #eee;
}

.divider-bottom {
  border-bottom: 1px solid #eee;
}
