
@media only screen and (max-width: 480px) {
  .container-web{
    display: none !important;
  }
  .container-tablet{
    display: none !important;
  }
  .container-mobile{
    display: flex;
  }
  
  .style-title-chart{
    color: #7929e2;
    font-size: 14px;
  }

  .border-color-container{
    height: 200px;
    padding: 10px;;
  }

  .styles-background {
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 10px;
  }
  .styles-background-active{
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 10px;
  }

  .container-acountUser {
    height: 80px;
  }

  .style-text {
    color: #7929e2;
    font-size: 10px;
  }

  .style-number {
    color: #afdb00;
    font-size: 30px;
    font-weight: bold;
  } 

  .user-icon {
    height: 30px;
  }

  /* container consumo */

  .container-consumo {
    height: 230px;
  }

  .container-circleChart-mobile{
    display: flex !important;
  }
  .container-circleChart-tablet{
    display: none !important;
  }
  .container-circleChart-web{
    display: none !important;
  }
  .style-circle-chart {
    height: 100px;
  }
  .styele-text{
    font-size: 10px;
  }
  .style-container-user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .style-container-pieChart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }

  /* container upload */
  .container-activate {
    background-color: #7929e2;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    height: 60px;
    gap: 5px;
    justify-content: flex-end;
    &:hover{
      background-color: #afdb00;
      color: white;
    }
  }

  .style-upload-link{
    color: #f9f9f9;
  }

  .icon-upload {
    height: 30px;
    
  }

}

// Tablet
@media only screen and  (min-width:481px) and (max-width:1000px){
  .contianer-tablet{
    display: flex;
  }
  .container-web{
    display: none !important;
  }
  .container-mobile{
    display: none !important;
  }
  .style-title-chart{
    color: #7929e2;
    font-size: 20px;
  }

  .border-color-container{
    height: 320px;
    padding: 20px;;
  }

  .styles-background{
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 10px;
  }

  .styles-background-active{
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 10px;
  }
  .container-acountUser {
    height: 100px;
  }

  .style-text {
    color: #7929e2;
    font-size: 13px;
  }

  .style-number {
    color: #afdb00;
    font-size: 50px;
    font-weight: bold;
  } 

  .user-icon {
    height: 30px;
  }

  /* container consumo */

  .container-consumo {
    height: 250px;
  }

  .style-circle-chart {
    height: 100px;
  }
  .styele-text{
    font-size: 14px;
  }
  .style-container-user{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .style-container-pieChart{
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    gap: 10px;
  }


  .container-circleChart-web{
    display: none !important;
  }
  .container-circleChart-mobile{
    display: none !important;
  }
  
  .container-circleChart-tablet{
    display: none;
  }

  /* container upload */
  .container-activate {
    background-color: #7929e2;
    font-size: 15px;
    color: white;
    height: 60px;
    justify-content: flex-end;
    &:hover{
      background-color: #abc821;
    }
  }
  .style-upload-link{
  color: #f9f9f9;
  }

  .icon-upload {
    height: 40px;
  }


}




// WEB
@media only screen and (min-width: 1000px) {

  .container-mobile{
    display: none !important;;
  }

  .container-tablet{
    display: none !important;;
  }

  .container-mobile{
    display: flex;
  }

  .style-title-chart{
    color: #7929e2;
    font-size: 14px;
  }

  .border-color-container{
  
    height: 320px;
    padding: 20px;;
  }

  .styles-background {
    border-radius: 30px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    font-size: 10px;
  }

   /* container consumo */
  .styles-background-active{
    border-radius: 20px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
  }

  .style-text {
    color: #7929e2;
    font-size: 18px;
  }

  .style-number {
    color: #afdb00;
    font-size: 70px;
    font-weight: bold;
  } 

  .user-icon {
    height: 50px;
  }

  .container-acountUser {
    height: 160px;
  }
  
  .container-circleCahrt-mobile{
    display: none !important;
  }
  .container-circleCahrt-tablet{
    display: none !important;
  }

  .container-consumo {
    height: 250px;
  }

  .style-circle-chart {
    height: 100px;
  }

  .styele-text{
    font-size: 14px;
  }

  .style-container-user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .style-container-pieChart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  /* container upload */
  .container-activate {
    background-color: #7929e2;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    height: 60px;
    justify-content: flex-end;
    &:hover{
      background-color: #abc821;
    }
  }

  .style-upload-link{
    color: #f9f9f9;
  }

  .icon-upload {
    height: 40px;
  }


}