.container-account-graph {
  background-color: #7929e2;
  color: white;
  height: 250px;
}
.style-graph-colaboradores{
  max-width: 464px;
    height: 169px;
}
 .style-font-chart{
  font-size: 12px;
 }