
@media only screen and (max-width: 480px) {
  .style-title {
    color: #7929e2;
    font-size: 15px;
    font-weight: bold;
  }

  .style-title-actualice {
    color: #7929e2;
    font-size: 16px;
  }

  .grid-container {
    display: grid;
    align-items: center;
    padding: 0;
    justify-content: center;
  }

  label{
    font-size: 10px;
  }

  //estilos para cambiar contraseña
  .box-container {
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    border-radius: 30px;
    font-size: 13px;
  }

  .style-title-pass {
    font-size: 10px;
  }

  .style-asterik {
    display: none;
    color: #7929e2;
  }
.container-actualice-contraseña{
  text-align: center;
  font-weight: 600;
}
}

// Tablet
@media only screen and  (min-width:481px) and (max-width:1000px){
  .style-title {
    color: #7929e2;
    font-size: 15px;
    font-weight: bold;
  }


  .style-title-actualice {
    color: #7929e2;
    font-size: 16px;
  }

  .grid-container {
    display: grid;
    align-items: center;
    padding: 0;
    justify-content: center;
  }

  label{
    font-size: 10px;
  }

  //estilos para cambiar contraseña
  .box-container {
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    border-radius: 30px;
    font-size: 13px;
  }

  .style-title-pass {
    font-size: 10px;
  }

  .style-asterik {
    color: #7929e2;
  }
  .container-actualice-contraseña{
    font-weight: 600;
  }

}

// WEB
@media only screen and (min-width: 1000px) {
  .style-title {
    color: #7929e2;
    font-size: 20px;
    font-weight: bold;
  }
  .container-menu-inline{
    background-color: #7929e2;
  }

  .styles-input {
    border-radius: 5px;
    border: 2px solid #7929e2;
  }

  .style-title-actualice {
    color: #7929e2;
    font-size: 16px;
  }

  .grid-container {
    display: grid;
    align-items: center;
  }

  //estilos para cambiar contraseña
  .box-container {
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
    border-radius: 30px;
  }

  .style-title-pass {
    font-size: 13px;
  }

  .style-asterik {
    color: #7929e2;
  }
  .styles-background-categories{
    height: 230px;
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%)
  }

  .container-actualice-contraseña{
    font-weight: 600;
  }
}