.style-title {
  color: #7929e2;
  font-size: 15px;
}
.styles-input {
  border-radius: 5px;
  border: 2px solid #7929e2;
}

.style-title-actualice {
  color: #7929e2;
  font-size: 16px;
}

.grid-container {
  display: grid;
  align-items: center;
}

.box-container {
  background-color: #f3f2f2;
  box-shadow: 3px 3px 19px 0px rgb(228, 228, 228);
  border-radius: 5px;
}

.style-title-pass {
  font-size: 13px;
}

.style-asterik {
  color: #7929e2;
}
.style-nav{
  color: black;
  text-decoration: none;
  background-color: #ABC821;
  padding: 1px;
  border-radius: 3px;
  font-size: 15px;
  &:hover{
    background-color: #7929e2;
    color: white;
  }
}

.container-arrastra{
  border-radius: 5px;
  background-color: white;
  border-width: 2px;
  border-style: dashed;
  border-color: #8080801f;
}