//stilos menu
nav ul {
  font-size: 20px;
  display: flex;
  gap: 6px;
}

.nav-item {
  &.active {
    a {
      color: black;
      border-bottom: 3px solid #afdb00;
    }
  }
}



@media only screen and (max-width: 480px) {
  .style-nav{
    color: black;
    text-decoration: none;
    padding: 1px ;
    font-size: 11px;
    &:hover{
      border-bottom: #afdb00;
      color: black;
    }
  }
  .container-pricipal-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-anadir-usuario{
    border-color: #c3c3c3;;
    border-radius: 20px;
    border-style: dashed;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    font-size: 10px;
    width: 15%;
    gap: 5px;
    height: 70px;
    color: #fff;
  }

  .styles-anadir{
    color:#c3c3c3;
    font-weight: 600;
  }

  .container-ul{
    display: flex;
    flex-direction: row;
  }


  .container-btn-next{
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }

  .container-styles-nextPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#7929e2;
    border-radius:6px;
    font-weight: bold;
    cursor: pointer;
    height: 45px;
    width: 230px;
    &:hover{
      color: white;
      background-color: #6f27cd;
    }
  }

  .icon-arrow{
    height: 25px;
  }
  
  .container-menu{
    display: flex;
    ul{
      display: flex;
      gap: 2px;
      flex-direction: row;
      justify-content: center;
    }
  } 
}



@media only screen and  (min-width:481px) and (max-width:1000px){
  .style-nav{
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
    &:hover{
      border-bottom: #afdb00;
      color: black;
    }
  }
  .container-pricipal-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-search {
    display: flex;
    background-color: #eee;
    border-radius: 5px;
    margin-right: 5px;
    align-items: center;
    height: 35px;
    width: 280px; 
  }
  .icon-search {
    margin-left: 5px;
    height: 25px;
  }

  .input-search {
    border: none;
    margin-right: 5px;
    font-size: 12px;
    color: #333;
    background-color: #eee;
    padding: 5px;
    border-radius: 3px;
  }

  .container-anadir-usuario{
    border-color: #c3c3c3;
    border-radius: 20px;
    border-style: dashed;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 15px;
    width: 15%;
    gap: 5px;
    height: 70px;
    color: #fff;
  }
  
  .styles-anadir{
    color:#c3c3c3;
    font-weight: 600;
  }
  
  .icon-menu-style{
    height: 10px;
  }
  .container-menu{
    display: flex;
    justify-content: center;
    ul{
      display: flex;
      gap: 2px;
      flex-direction: row;
      justify-content: center;
    }
  }
  .icon-anadir-user{
    height: 20px;
  }

  .container-vacio{
    display: none;
  }

  .container-btn-next{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
  }

  .container-styles-nextPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#7929e2;
    border-radius:6px;
    cursor: pointer;
    height: 45px;
    width: 230px;
    &:hover{
      color: white;
      background-color: #6f27cd;
    }
  }
  .icon-arrow{
    height: 25px;
  }


}


@media only screen and (min-width: 1000px) {
  .style-nav{
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 15px;
    &:hover{
      border-bottom: #afdb00;
      color: black;
    }
  }

  .container-pricipal-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-search {
    display: flex;
    background-color: #eee;
    border-radius: 5px;
    margin-right: 5px;
    align-items: center;
    height: 35px;
    width: 280px; 
  }
  .icon-search {
    margin-left: 5px;
    height: 25px;
  }

  .input-search {
    border: none;
    margin-right: 5px;
    font-size: 12px;
    color: #333;
    background-color: #eee;
    padding: 5px;
    border-radius: 3px;
  }

  //Btn añadir
  .container-anadir-usuario{
    border-color: #c3c3c3;
    border-radius: 20px;
    border-style: dashed;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 15px;
    width: 15%;
    gap: 5px;
    height: 70px;
    color: #fff;
  }

  .styles-anadir{
    color: #c3c3c3;
  }

  .icon-menu-style{
    height: 10px;
  }

  .container-menu{
    display: flex;
    justify-content: center;
    ul{
      display: flex;
      gap: 2px;
      flex-direction: row;
      justify-content: center;
    }
  }

  .icon-anadir-user{
    height: 20px;
  }


//--
  .container-btn-next{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
  }

  .container-styles-nextPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#7929e2;
    border-radius:6px;
    cursor: pointer;
    height: 45px;
    width: 230px;
    &:hover{
      color: white;
      background-color: #6f27cd;
    }
  }
  
  .icon-arrow{
    height: 25px;
  }

  .styles-background-categories{
    height: 230px;
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%)
  }
}