
@media only screen and (max-width: 480px) {
  .title-style-curses-web{
    display: none;
  }
}

// Tablet
@media only screen and  (min-width:481px) and (max-width:1000px){

  .title-style-curses-web {
    display: none;
  }
    ///Styles tabla
    th {
      text-align: center;
      font-size: 12px;
    }
    td{
      text-align: center;
      font-size: 13px;
    } 
    table>tbody {
      vertical-align: middle !important;
    }
    .styles-curses-img{
      height: 45px;
      width: 100%;
    }
    .container-edit-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    }
    
    .img-icon-edit {
    height: 15px;
    width: 15px;
    }
    .container-btn-tablet{
      display: flex;
      gap: 2px;
    }
    .styles-btn-tablet{
      border-radius: 5px;
      font-size: 10px;
      background-color: #f9fafb;
      border-color: rgb(97, 165, 97);
      color: rgb(97, 165, 97);
      :hover{
        background-color: rgb(97, 165, 97);
      }
    }
    
    .container-accions{
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 76px;
    }

}



@media only screen and (min-width: 1000px) {
  
  .title-style-curses-web{
    color: #7929e2;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
  } 


  .styles-background-categories{
    height: 230px;
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%)
  }

    ///Styles tabla
  th {
    text-align: center;
    font-size: 12px;
  }
  td{
    text-align: center;
    font-size: 13px;
  } 
  table>tbody {
    vertical-align: middle !important;
  }
  .styles-curses-img{
    height: 45px;
    width: 100%;
  }
  .container-edit-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
  }
  
  .img-icon-edit {
  height: 15px;
  width: 15px;
  }
  .container-btn-tablet{
    display: flex;
    gap: 2px;
  }
  .styles-btn-tablet{
    border-radius: 5px;
    font-size: 10px;
    background-color: #f9fafb;
    border-color: rgb(97, 165, 97);
    color: rgb(97, 165, 97);
    :hover{
      background-color: rgb(97, 165, 97);
    }
  }
  
  .container-accions{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 76px;
  }
}
