
@media only screen and (max-width: 480px) {
  .title-style-curses {
    display: none;
  }
}

// Tablet
@media only screen and  (min-width:481px) and (max-width:1000px){

  .title-style-curses {
    display: none;
  }

}


// WEB
@media only screen and (min-width: 1000px)  {

  .title-style-curses {
    color: #7929e2;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
  }

}