
@media only screen and (max-width: 480px) {
  .title-style-curses-web{
    display: none;
  }
}

// Tablet
@media only screen and  (min-width:481px) and (max-width:1000px){

  .title-style-curses-web {
    display: none;
  }

}



@media only screen and (min-width: 1000px) {
  
  .title-style-curses-web{
    color: #7929e2;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  } 


  .styles-background-categories{
    height: 230px;
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%)
  }
}
