
.container-box{
  border-radius: 30px;
  background-color: #f9fafb;
  box-shadow: 0px 1px 4px 3px rgb(230 230 232 / 71%);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 480px) {
  .styles-text-login{
    color: #7929e2;
    font-size: 18px;
  } 
  .check-color {
    cursor: pointer;
    border: 2px solid #7929e2;
    appearance: none;
  }
  
  .check-color:checked {
    background-color: #7929e2;
    border-color: #7929e2;
  }
  .color-text-check {
    color: #7929e2;
  }
}

@media only screen and  (min-width:481px) and (max-width:1000px){


    //Contañe desempeño
    .container-login{
      width: 500px;
      height: 420px;
    }

  .style-title-sidebar{
    font-size: 25px;
    font-weight: bold;
  }
  .styles-text-login{
    color: #7929e2;
    font-size: 20px;
  } 
d

  .container-login{
      width: 100%;
      height: 400px;
  }
  .check-color {
    cursor: pointer;
    border: 2px solid #7929e2;
    appearance: none;
    width: 22px;
    height: 22px;
  }

  .check-color:checked {
    background-color: #7929e2;
    border-color: #7929e2;
  }

  .color-text-check {
    color: #7929e2;
  }

 

}


// WEB
@media only screen and (min-width: 1000px) {

    //Contañe desempeño
    .container-login{
      width: 490px;
      height: 420px;
    }
  .styles-text-login{
    color: #7929e2;
    font-size: 20px;
  } 

  .styles-text-title-social{
    color: #7929e2;
    font-size: 30px; 
  }

  .check-color {
    cursor: pointer;
    border: 2px solid #7929e2;
    appearance: none;
    width: 22px;
    height: 22px;
  }

  .check-color:checked {
    background-color: #7929e2;
    border-color: #7929e2;
  }

  .color-text-check {
    color: #7929e2;
    font-size: 12px;
  }
}
